<%= form_for @reservation do |f| %>

  <% if @reservation.errors.any? %>

    <div id="error_explanation">
      <p>
        <%= pluralize(@reservation.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><center><%= msg %></li>
      <% end %>
    </div>

  <% end %>

  <p>
    <%= f.label "First Name" %><br>
    <%= f.text_field :f_name %>
  </p>

  <p>
    <%= f.label "Last Name" %><br>
    <%= f.text_field :l_name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
