<h1> Index </h1>

<h1>ALL RESERVATIONS</h1>
<br>
<center>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>

    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.f_name %></td>
        <td><%= reservation.l_name %></td>
        <td><%= link_to 'SHOW', reservation_path(reservation) %></td>
        <td><%= link_to 'EDIT', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'DESTROY', reservation_path(reservation),
                method: :delete,
                data: { confirm: 'OK, well, just be careful.' } %></td>
      </tr>
    </tr>
  <% end %>
  </table>
</center>

<br>
<p>
<%= link_to 'DOWNLOAD CSV', reservations_path(format: :csv) %><br>
<%= link_to "SEND AN EMAIL", reports_write_email_path %><br>
<br>
<%= link_to "HOME INDEX", reservations_path %> <br>
<%= link_to "NEW RESERVATION", new_reservation_path %> <br>
<%= link_to "FRONT PAGE DASHBOARD", root_path %>
