<h1>Reservation ID# <%= "#{@reservation.id}" %></h1>

<br>

<p>
  <strong>First Name</strong><br>
  <%= @reservation.f_name %>
</p>

<p>
  <strong>Last Name</strong><br>
  <%= @reservation.l_name %>
</p>

<br>
<%= link_to "HOME INDEX", reservations_path %> <br>
<%= link_to "NEW RESERVATION", new_reservation_path %> <br>
<%= link_to "FRONT PAGE DASHBOARD", root_path %>
