<center>

<h1>Write an email</h1>

<%= form_tag reports_send_email_path do %>
  <%= email_field_tag :address, nil, placeholder: "Email address" %>
  <%= submit_tag "SEND ME YOUR RESUME"%>
<% end %>

<br>
<%= link_to "HOME INDEX", reservations_path %> <br>
<%= link_to "NEW RESERVATION", new_reservation_path %> <br>
<%= link_to "FRONT PAGE DASHBOARD", root_path %>

</center>
